In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split 
%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\zhang\Desktop\张翼和data\data&code\weather.csv',index_col =0 )

In [3]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [4]:
df.shape

(142193, 22)

In [5]:
#抽取5000条样本进行后续处理
weather = df.sample(n=5000,random_state=0)

In [6]:
weather.head()#索引被打乱了

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
86232,2012-10-09,Cairns,17.4,29.0,0.0,3.6,11.1,NNE,33.0,SE,...,19.0,63.0,61.0,1013.1,1008.9,1.0,0.0,26.1,27.8,No
57576,2011-05-24,Bendigo,6.8,14.4,0.8,0.8,NaN,S,46.0,SW,...,22.0,80.0,55.0,1010.2,1012.4,5.0,4.0,10.4,12.7,No
124071,2009-08-06,Walpole,10.1,15.4,14.6,NaN,NaN,WSW,31.0,SW,...,9.0,70.0,61.0,1014.4,1016.1,NaN,NaN,12.3,13.0,No
117955,2009-03-06,Perth,14.4,33.4,0.0,8.0,11.6,SW,41.0,ESE,...,17.0,40.0,23.0,1019.2,1016.6,1.0,0.0,23.0,32.3,No
133468,2010-07-02,AliceSprings,6.8,14.3,10.0,0.2,7.3,E,28.0,ENE,...,13.0,92.0,47.0,1027.6,1024.4,7.0,1.0,7.3,13.7,No

In [7]:
#重置索引
weather.index = range(weather.shape[0]) 
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,2012-10-09,Cairns,17.4,29.0,0.0,3.6,11.1,NNE,33.0,SE,...,19.0,63.0,61.0,1013.1,1008.9,1.0,0.0,26.1,27.8,No
1,2011-05-24,Bendigo,6.8,14.4,0.8,0.8,NaN,S,46.0,SW,...,22.0,80.0,55.0,1010.2,1012.4,5.0,4.0,10.4,12.7,No
2,2009-08-06,Walpole,10.1,15.4,14.6,NaN,NaN,WSW,31.0,SW,...,9.0,70.0,61.0,1014.4,1016.1,NaN,NaN,12.3,13.0,No
3,2009-03-06,Perth,14.4,33.4,0.0,8.0,11.6,SW,41.0,ESE,...,17.0,40.0,23.0,1019.2,1016.6,1.0,0.0,23.0,32.3,No
4,2010-07-02,AliceSprings,6.8,14.3,10.0,0.2,7.3,E,28.0,ENE,...,13.0,92.0,47.0,1027.6,1024.4,7.0,1.0,7.3,13.7,No

In [8]:
weather.columns#查看特征

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainTomorrow'],
      dtype='object')

In [9]:
weather.Date.value_counts#查看日期

<bound method IndexOpsMixin.value_counts of 0       2012-10-09
1       2011-05-24
2       2009-08-06
3       2009-03-06
4       2010-07-02
5       2010-06-11
6       2009-04-03
7       2012-06-20
8       2013-03-11
9       2015-11-15
10      2015-03-02
11      2010-03-23
12      2012-07-28
13      2009-01-03
14      2016-09-24
15      2014-03-23
16      2014-01-04
17      2011-12-09
18      2009-08-22
19      2016-11-24
20      2016-02-19
21      2016-12-02
22      2012-05-24
23      2014-04-14
24      2016-05-01
25      2011-01-13
26      2016-09-10
27      2012-07-31
28      2010-05-20
29      2014-08-09
           ...
4970    2013-07-19
4971    2016-03-01
4972    2011-05-24
4973    2010-11-25
4974    2016-11-13
4975    2017-02-28
4976    2015-09-21
4977    2009-03-19
4978    2017-06-20
4979    2009-08-21
4980    2008-04-21
4981    2015-02-14
4982    2015-06-14
4983    2010-12-26
4984    2011-11-29
4985    2015-12-24
4986    2012-10-22
4987    2015-03-13
4988    2011-05-14
4989    2011-01-02
4990    2016-08-17
4991    2014-09-04
4992    2013-10-29
4993    2014-05-14
4994    2015-04-30
4995    2009-08-15
4996    2014-11-24
4997    2014-02-24
4998    2016-03-09
4999    2016-08-27
Name: Date, Length: 5000, dtype: object>

In [10]:
weather.Location.value_counts#查看地名

<bound method IndexOpsMixin.value_counts of 0                 Cairns
1                Bendigo
2                Walpole
3                  Perth
4           AliceSprings
5                 Darwin
6               Watsonia
7          NorfolkIsland
8              NorahHead
9             Launceston
10         BadgerysCreek
11             GoldCoast
12          CoffsHarbour
13             Nuriootpa
14             Melbourne
15               Mildura
16            PearceRAAF
17             NorahHead
18                Hobart
19            SalmonGums
20            Launceston
21              Ballarat
22          PerthAirport
23               Mildura
24               Bendigo
25               Walpole
26              Brisbane
27         SydneyAirport
28             Newcastle
29            Launceston
              ...
4970                Nhil
4971             Mildura
4972                Sale
4973        PerthAirport
4974            Ballarat
4975             Penrith
4976       BadgerysCreek
4977             Woomera
4978            Adelaide
4979              Albany
4980              Sydney
4981          Wollongong
4982           Katherine
4983       NorfolkIsland
4984               Cobar
4985          Townsville
4986              Darwin
4987           Newcastle
4988         Williamtown
4989            Canberra
4990              Albury
4991         MountGinini
4992           Nuriootpa
4993            Portland
4994    MelbourneAirport
4995             Mildura
4996               Perth
4997         Tuggeranong
4998         Williamtown
4999               Perth
Name: Location, Length: 5000, dtype: object>

In [11]:
weather.Rainfall.value_counts#查看地名

<bound method IndexOpsMixin.value_counts of 0        0.0
1        0.8
2       14.6
3        0.0
4       10.0
5        0.0
6        0.0
7        0.0
8        0.4
9        0.0
10       8.4
11       0.0
12       0.2
13       0.0
14       0.0
15       0.0
16       0.0
17       0.4
18       3.2
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24      14.4
25       0.0
26       7.2
27       2.8
28       5.8
29       0.0
        ...
4970     9.0
4971     0.0
4972     1.0
4973     0.0
4974     2.2
4975     1.0
4976     0.2
4977     0.0
4978     0.0
4979     1.0
4980    21.8
4981     8.0
4982     0.0
4983     0.0
4984     0.0
4985     0.0
4986     0.6
4987     9.6
4988     0.0
4989     5.2
4990     0.0
4991     0.0
4992     0.0
4993     0.0
4994     0.0
4995     0.0
4996     0.0
4997     0.0
4998     0.0
4999    31.0
Name: Rainfall, Length: 5000, dtype: float64>

In [12]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
Date             5000 non-null object
Location         5000 non-null object
MinTemp          4968 non-null float64
MaxTemp          4986 non-null float64
Rainfall         4937 non-null float64
Evaporation      2813 non-null float64
Sunshine         2592 non-null float64
WindGustDir      4640 non-null object
WindGustSpeed    4642 non-null float64
WindDir9am       4650 non-null object
WindDir3pm       4854 non-null object
WindSpeed9am     4951 non-null float64
WindSpeed3pm     4896 non-null float64
Humidity9am      4947 non-null float64
Humidity3pm      4869 non-null float64
Pressure9am      4459 non-null float64
Pressure3pm      4458 non-null float64
Cloud9am         3123 non-null float64
Cloud3pm         2989 non-null float64
Temp9am          4974 non-null float64
Temp3pm          4895 non-null float64
RainTomorrow     5000 non-null object
dtypes: float64(16), object(6)
memory usage: 859.5+ KB

In [13]:
#提取x和y
X = weather.iloc[:,:-1]
Y = weather.iloc[:,-1]

In [14]:
np.unique(Y)#查看标签类别

array(['No', 'Yes'], dtype=object)

In [15]:
X.isnull().mean()# 查看缺失值比例

Date             0.0000
Location         0.0000
MinTemp          0.0064
MaxTemp          0.0028
Rainfall         0.0126
Evaporation      0.4374
Sunshine         0.4816
WindGustDir      0.0720
WindGustSpeed    0.0716
WindDir9am       0.0700
WindDir3pm       0.0292
WindSpeed9am     0.0098
WindSpeed3pm     0.0208
Humidity9am      0.0106
Humidity3pm      0.0262
Pressure9am      0.1082
Pressure3pm      0.1084
Cloud9am         0.3754
Cloud3pm         0.4022
Temp9am          0.0052
Temp3pm          0.0210
dtype: float64

In [16]:
#先来切分训练集和测试集
#切分数据集
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X,Y,test_size=0.3,random_state=420)

In [17]:
Xtrain.shape

(3500, 21)

In [18]:
Xtrain.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
1809,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,13.0,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2
4176,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,15.0,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6
110,2017-06-14,GoldCoast,16.3,20.6,17.8,NaN,NaN,SE,72.0,S,...,37.0,52.0,100.0,100.0,1023.3,1022.7,NaN,NaN,18.1,20.0
3582,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,11.0,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5
2162,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,2.0,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2

In [19]:
#恢复索引
for i in [Xtrain, Xtest, Ytrain, Ytest]:
    i.index = range(i.shape[0])

In [20]:
#查看样本是否不均衡
Ytrain.value_counts()  #发现样本不均衡

No     2710
Yes     790
Name: RainTomorrow, dtype: int64

In [21]:
#对标签进行编码
from sklearn.preprocessing import LabelEncoder# 专门对标签进行编码处理
from sklearn.preprocessing import OrdinalEncoder#专门对特征进行编码处理
encorder = LabelEncoder().fit(Ytrain)# 模型中相当于放了【0，1】的一个关系
Ytrain = pd.DataFrame(encorder.transform(Ytrain))#用这样的关系对数据进行转换
Ytest = pd.DataFrame(encorder.transform(Ytest))

In [22]:
encorder.classes_# 查看有几分类

array(['No', 'Yes'], dtype=object)

In [23]:
#关于fit/transform/fit_transform的用法
#fit完之后得到模型，如果想把模型运用到不同的对象上，那就fit和transform分开
#如果想就用到一个模型上，就可以连起来用fit_transform

In [24]:
Ytrain.head()

   0
0  0
1  0
2  1
3  0
4  0

In [25]:
#对特征矩阵进行处理
#描述性统计
#describe只能对数值型数据进行描述
Xtrain.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,3477.0,12.340236,6.384294,-6.9,-2.024,2.1,4.3,7.700,12.1,17.0,20.9,25.824,29.1
MaxTemp,3492.0,23.232904,6.992256,-4.1,8.900,12.7,14.6,18.200,22.7,28.1,32.8,39.600,43.7
Rainfall,3460.0,2.106618,6.570495,0.0,0.000,0.0,0.0,0.000,0.0,0.8,6.0,35.400,102.0
Evaporation,1986.0,5.398489,3.837948,0.0,0.400,1.0,1.4,2.725,4.8,7.4,9.8,17.430,52.4
Sunshine,1835.0,7.723869,3.691531,0.0,0.000,0.4,2.0,5.100,8.5,10.6,12.0,13.400,14.3
WindGustSpeed,3254.0,39.878611,13.492322,9.0,15.000,20.0,24.0,31.000,39.0,46.0,57.0,81.000,115.0
WindSpeed9am,3470.0,13.924784,8.861956,0.0,0.000,0.0,4.0,7.000,13.0,19.0,26.0,39.000,52.0
WindSpeed3pm,3426.0,18.765032,8.915825,0.0,2.000,6.0,7.0,13.000,19.0,24.0,30.0,43.000,78.0
Humidity9am,3460.0,68.844509,18.918369,5.0,18.000,35.0,44.0,57.000,70.0,83.0,94.0,100.000,100.0
Humidity3pm,3405.0,51.628781,20.705426,1.0,9.000,17.0,24.0,37.000,52.0,65.0,79.6,97.960,100.0
Pressure9am,3136.0,1017.538520,7.112893,982.0,999.505,1006.1,1008.7,1012.700,1017.6,1022.3,1026.7,1033.300,1038.8
Pressure3pm,3135.0,1015.140542,7.019753,986.4,997.900,1003.9,1006.4,1010.400,1015.1,1019.9,1024.2,1030.566,1036.6
Cloud9am,2213.0,4.463624,2.860557,0.0,0.000,0.0,1.0,1.000,5.0,7.0,8.0,8.000,8.0
Cloud3pm,2118.0,4.540132,2.707265,0.0,0.000,0.0,1.0,2.000,5.0,7.0,8.0,8.000,8.0
Temp9am,3481.0,17.058115,6.410628,-4.2,2.600,7.2,9.0,12.400,16.8,21.5,25.8,31.020,34.3
Temp3pm,3426.0,21.671979,6.852293,-4.4,7.525,11.5,13.2,16.900,21.0,26.4,31.0,38.100,42.4

In [26]:
col = Xtrain.mean().index

In [27]:
Xtest.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,1491.0,12.211335,6.458887,-6.3,-2.500,1.50,3.90,7.6,12.2,16.800,20.70,25.610,28.5
MaxTemp,1494.0,23.330857,7.380122,-0.6,7.686,12.60,14.40,18.0,22.7,28.775,33.50,40.500,44.4
Rainfall,1477.0,2.338456,8.114066,0.0,0.000,0.00,0.00,0.0,0.0,0.800,6.20,31.632,164.2
Evaporation,827.0,5.492745,4.007532,0.0,0.200,0.80,1.40,2.6,4.8,7.600,10.40,16.000,58.5
Sunshine,757.0,7.756803,3.815881,0.0,0.000,0.48,1.66,4.9,8.6,10.700,12.30,13.400,14.0
WindGustSpeed,1388.0,40.164986,14.144410,11.0,15.000,20.00,24.00,30.0,39.0,48.000,57.00,87.000,102.0
WindSpeed9am,1481.0,14.135719,9.018514,0.0,0.000,0.00,4.00,7.0,13.0,19.000,26.00,37.400,72.0
WindSpeed3pm,1470.0,18.759184,9.002335,0.0,2.000,6.00,8.80,13.0,19.0,24.000,30.00,44.620,65.0
Humidity9am,1487.0,67.854069,19.342026,8.0,16.860,32.30,42.60,56.0,68.0,83.000,94.00,100.000,100.0
Humidity3pm,1464.0,50.962432,21.100400,4.0,8.000,15.00,23.00,35.0,52.0,65.000,79.00,97.370,100.0
Pressure9am,1323.0,1017.612774,7.341883,984.6,999.344,1006.10,1008.82,1013.2,1017.3,1022.200,1027.50,1034.678,1039.2
Pressure3pm,1323.0,1015.180726,7.250920,986.6,997.210,1003.62,1006.30,1010.6,1015.0,1019.700,1024.88,1032.156,1036.9
Cloud9am,910.0,4.242857,2.888338,0.0,0.000,0.00,0.00,1.0,5.0,7.000,8.00,8.000,8.0
Cloud3pm,871.0,4.311137,2.790930,0.0,0.000,0.00,1.00,1.0,5.0,7.000,8.00,8.000,8.0
Temp9am,1493.0,17.139049,6.734101,-3.4,0.700,6.70,8.70,12.4,17.0,22.000,26.10,31.908,34.8
Temp3pm,1469.0,21.737849,7.202093,-2.1,6.304,11.14,13.08,16.6,21.2,26.700,31.80,38.700,43.4

In [28]:
#对数值型、文本型、连续性、分类型数据分开处理
#超过三倍标准差的即为异常值

In [29]:
Xtrain.mean()#返回每一列均值

MinTemp            12.340236
MaxTemp            23.232904
Rainfall            2.106618
Evaporation         5.398489
Sunshine            7.723869
WindGustSpeed      39.878611
WindSpeed9am       13.924784
WindSpeed3pm       18.765032
Humidity9am        68.844509
Humidity3pm        51.628781
Pressure9am      1017.538520
Pressure3pm      1015.140542
Cloud9am            4.463624
Cloud3pm            4.540132
Temp9am            17.058115
Temp3pm            21.671979
dtype: float64

In [30]:
#查看训练集各列异常值的比例
(np.abs((Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std())>3).sum()/Xtrain.shape[0]

MinTemp          0.000286
MaxTemp          0.002286
Rainfall         0.021714
Evaporation      0.006286
Sunshine         0.000000
WindGustSpeed    0.010571
WindSpeed9am     0.009714
WindSpeed3pm     0.006000
Humidity9am      0.003714
Humidity3pm      0.000000
Pressure9am      0.003429
Pressure3pm      0.002857
Cloud9am         0.000000
Cloud3pm         0.000000
Temp9am          0.001143
Temp3pm          0.002571
dtype: float64

In [31]:
#删除异常值
deltrain = []
for i in col:
    bool_ = np.abs((Xtrain.loc[:,i] - Xtrain.loc[:,i].mean())/Xtrain.loc[:,i].std())>3
    ind = Xtrain[bool_].index
    deltrain.extend(list(ind))

In [32]:
#训练集的索引去重
deltrain1 = list(set(deltrain))
len(deltrain1)

199

In [33]:
deltest = []
for i in col:
    bool_ = np.abs((Xtest.loc[:,i] - Xtrain.loc[:,i].mean())/Xtrain.loc[:,i].std())>3
    ind = Xtest[bool_].index
    deltest.extend(list(ind))
#注意这里减去的是训练集的平均值并不是测试集的平均值

In [34]:
Xtest[bool_]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
275,2014-01-11,Perth,22.6,43.3,0.0,12.0,13.1,NE,33.0,ESE,...,13.0,11.0,34.0,12.0,1015.7,1010.4,0.0,0.0,30.7,42.5
284,2013-01-04,Dartmoor,18.8,44.4,0.0,13.8,14.0,NW,61.0,NNE,...,24.0,31.0,23.0,7.0,1004.9,1001.7,NaN,NaN,32.7,43.4
435,2014-07-07,MountGinini,-2.7,1.2,1.0,NaN,NaN,S,37.0,SSW,...,6.0,13.0,97.0,98.0,NaN,NaN,NaN,NaN,-1.0,0.6
746,2009-07-10,MountGinini,-0.5,1.8,0.0,NaN,NaN,NE,37.0,ENE,...,17.0,19.0,97.0,88.0,NaN,NaN,NaN,NaN,0.5,0.9
967,2015-08-13,MountGinini,-4.4,0.1,10.2,NaN,NaN,SW,54.0,SW,...,15.0,28.0,98.0,98.0,NaN,NaN,NaN,NaN,-3.4,-2.1
1117,2009-07-13,MountGinini,-1.5,-0.6,1.0,NaN,NaN,W,67.0,W,...,30.0,26.0,94.0,95.0,NaN,NaN,NaN,NaN,-1.1,-1.0
1156,2010-01-19,PearceRAAF,24.9,43.3,0.0,NaN,8.4,E,50.0,E,...,13.0,19.0,17.0,9.0,1008.9,1006.1,5.0,3.0,33.0,42.7
1358,2014-07-16,MountGinini,-0.1,0.8,22.8,NaN,NaN,WSW,52.0,WSW,...,11.0,19.0,97.0,97.0,NaN,NaN,NaN,NaN,0.1,0.0

In [35]:
bool_

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1470    False
1471    False
1472    False
1473    False
1474    False
1475    False
1476    False
1477    False
1478    False
1479    False
1480    False
1481    False
1482    False
1483    False
1484    False
1485    False
1486    False
1487    False
1488    False
1489    False
1490    False
1491    False
1492    False
1493    False
1494    False
1495    False
1496    False
1497    False
1498    False
1499    False
Name: Temp3pm, Length: 1500, dtype: bool

In [36]:
#测试集的索引去重
deltest1 = list(set(deltest))

In [37]:
#删除异常值数据，del只能删除一个，而drop能删除多个
Xtrain = Xtrain.drop(index=deltrain1)
Ytrain = Ytrain.drop(index=deltrain1)
Xtest = Xtest.drop(index=deltest1)
Ytest = Ytest.drop(index=deltest1)

In [38]:
Xtrain.shape

(3301, 21)

In [39]:
Xtest.shape

(1410, 21)

In [40]:
#进行任何行删除之后，千万记得要恢复索引
for i in [Xtrain, Xtest, Ytrain, Ytest]:
    i.index = range(i.shape[0])T

#解决异常值完毕

SyntaxError: invalid syntax (<ipython-input-40-8d6434bf8e5a>, line 3)

In [ ]:
#处理日期
Xtrain.Date.value_counts()

In [ ]:
Xtrain[Xtrain.Date=='2015-11-06']

In [ ]:
#查看重复值
Xtrain.duplicated().sum()
#删除重复值.drop_duplicates()

In [ ]:
#查看日期的种类
Xtrain.Date.value_counts().count()#方法一

In [ ]:
len(set(Xtrain.Date))#方法二

In [ ]:
Xtrain["Rainfall"].head(20)

In [ ]:
#查看rainfall列是否有缺失值
Xtrain.Rainfall.isnull().sum()

In [ ]:
Xtrain.loc[Xtrain["Rainfall"] >= 1,"RainToday"] = "Yes"
Xtrain.loc[Xtrain["Rainfall"] < 1,"RainToday"] = "No"
Xtrain.loc[Xtrain["Rainfall"] == np.nan,"RainToday"] = np.nan

In [ ]:
Xtrain.shape

In [ ]:
Xtrain["RainToday"].value_counts()

In [ ]:
Xtest.loc[Xtest["Rainfall"] >= 1,"RainToday"] = "Yes"
Xtest.loc[Xtest["Rainfall"] < 1,"RainToday"] = "No"
Xtest.loc[Xtest["Rainfall"] == np.nan,"RainToday"] = np.nan

In [ ]:
#提取月份
int(Xtrain.loc[0,'Date'].split('-')[1])

In [ ]:
Xtrain["Date"] = Xtrain["Date"].apply(lambda x:int(x.split('-')[1]))

In [ ]:
Xtrain.rename(columns={"Date":"Month"},inplace = True)

In [ ]:
Xtrain.head()

In [ ]:
Xtest["Date"] = Xtest["Date"].apply(lambda x:int(x.split("-")[1]))
Xtest = Xtest.rename(columns={"Date":"Month"})

In [ ]:
#分类型变量的缺失值处理
#连续性变量采用均值填充
#分类型变量采用众数来填充

In [ ]:
#查看缺失值的缺失情况
Xtrain.isnull().mean()

In [ ]:
Xtrain.dtypes

In [ ]:
#找出分类型变量的特征名
cate = Xtrain.columns[Xtrain.dtypes=='object'].tolist()#haiyou

In [ ]:
cloud = ["Cloud9am","Cloud3pm"]
cate = cate + cloud
cate

In [ ]:
from sklearn.impute import SimpleImputer#填补模块

In [ ]:
si = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
#注意，我们使用训练集数据来训练我们的填补器，本质是在生成训练集中的众数
si.fit(Xtrain.loc[:,cate])#生成每一列的众数保存在模型中

In [ ]:
#下面这是真正的开始填补
Xtrain.loc[:,cate] = si.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate] = si.transform(Xtest.loc[:,cate])

In [ ]:
Xtrain.loc[:,cate].isnull().sum()#确认无误没有缺失值

In [ ]:
#分类的缺失值填补完成

In [ ]:
#将分类型变量进行编码
#将所有的分类型变量编码为数字，一个类别是一个数字
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()#实例化

In [ ]:
#利用训练集进行fit
oe = oe.fit(Xtrain.loc[:,cate])#相当于把每一列编码，并记录对应关系

In [ ]:
#用训练集的编码结果来编码训练和测试特征矩阵
#在这里如果测试特征矩阵报错，就说明测试集中出现了训练集中从未见过的类别
Xtrain.loc[:,cate] = oe.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate] = oe.transform(Xtest.loc[:,cate])

In [ ]:
Xtrain.head()

In [ ]:
#连续型变量的处理
#提取连续型变量的处理
col = Xtrain.columns.tolist()

In [ ]:
for i in cate:
    col.remove(i)

In [ ]:
col

In [ ]:
#实例化模型，填补策略为"mean"表示均值
impmean = SimpleImputer(missing_values=np.nan,strategy = "mean")

In [ ]:
impmean = impmean.fit(Xtrain.loc[:,col])#相当于计算出每一列的均值

In [ ]:
Xtrain.loc[:,col] = impmean.transform(Xtrain.loc[:,col])
Xtest.loc[:,col] = impmean.transform(Xtest.loc[:,col])

In [ ]:
#确认训练集中是否存在缺失值
print(Xtrain.isnull().sum().sum())
print(Xtest.isnull().sum().sum())

In [ ]:
#量纲不统一问题的处理
Xtrain.describe().T

In [ ]:
col.remove("Month")
col

In [ ]:
#对连续型数据进行标准化
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()#实例化
ss = ss.fit(Xtrain.loc[:,col])#相当于生成每一列的均值和标准差
Xtrain.loc[:,col] = ss.transform(Xtrain.loc[:,col])
Xtest.loc[:,col] = ss.transform(Xtest.loc[:,col])